@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #111111;

}
.logo span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 32px;
}
.header {
    height: 70px;
    background-color: #111111;
    color: #fff;

    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul {
    list-style-type: none;
    display: flex;
}

.menu-icon {
    display: none;
    cursor: pointer;
}
.menu ul li {
    text-transform: uppercase;
    margin-left: 16px;
}


@media (max-width: 768px) {
    .header {
        position: relative;
    }
    ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color:brown;
        flex-direction: column;
        display: none;
    }
    .menu-icon {
        display: inline-block;
        font-style: 1.5rem;
    }
    .menu li {
        padding: 10px 0;
    }

    .menu ul.show {
        display: flex;
    }

}