* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}

body>div {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1rem;
    line-height: 1.6;
    color: #42434b;
    width: 340px;
    text-align: center;
}
h3 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
}

.header h3 {
    text-transform: uppercase;
    margin: 11px 56px 0 69px;
}
.header h3 > a {
    background-color: transparent;
    text-decoration: none;
    color: #fe7ec9;
}
.header a {
    padding: 4px 0;
    margin: 9px auto 10px ;
    color: #525258;
}
.header svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
    fill: currentColor;
}

.container1 {
    margin: 0 50px;
    min-height: 599px;
}
.container1 h2 {
    margin-top: 62px;
    padding: 0 18px;
    color: #488df4;
    font-size: 2.25rem;

}
.container1 h3 {
    margin: 60px 0 12px
}
.container1 div {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.container1 div img {
    height: auto;
    width: 100%;
    margin-top: -100px;
}
.container2 {
    width: 440px;
    align-items: center;
    
}
.container2 div {
    width: 100%;
    min-height: 291px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container2 div:nth-child(1) {
    background-color: #38c4c1;
}

.container2 div:nth-child(2) {
    background-color: #feca02;
}

.container2 div:nth-child(3) {
    background-color: #fe7ec9;
}
.container2 div:nth-child(4) {
    background-color: #488df4;
}

.container2 span {
    margin: 30px auto 0;
    height: 75px;
    width: 75px;
    
}
.container2 span svg {
    margin-bottom: 0;
    height: 75px;
    width: 75px;
    fill: #ffffff;

}

.container2 h2 {
    margin: 23px 1px 30px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    color: #ffffff;
}

.container3 {
    padding: 0 50px;
    width: 440px;
    min-height: 599px;
    background-color: #f2f2f2;
}

.container3 h1 {
    margin-top: 86px;
    font-weight: 700;
    line-height: 1.1;
    font-size: 2.25rem;
    color: #488df4;
    text-align: center;

}

.container3 div {
    width: 33px;
    height: 3px;
    transform-origin: right center;
    margin: 30px auto 0;
    border: 3px solid #000000;
}

.container3 p {
    font-size: 1.125rem;
    margin: 20px 18px 25px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}

.container4 {
    margin: 0 150px;
    min-height: 2293px;
}
.container4 .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 150px;
    height: auto;
    margin: 26px auto 0;
}
.container4 .content h4 {
    margin-top: 63px;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #808080;
    text-align: center;
}
.container4 h2 {
    font-size: 2.25rem;
    margin: 7px 0 15px;
    font-weight: 700;
    line-height: 1.2;
}

.container4 .image {
    margin: 26px 0 70px 0;
    min-height: auto;
    width: 100%;
    overflow: hidden;
}
.container4 .image .image1 {
    min-height: 563px;
    background-image: url(./image/anh1.jpeg);
    background-size: cover;
    background-position-x: 50%;  
    margin: 10px 0;
}

.container4 .image .image2 {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.container4 .image2_01 > div {
    display: flex;
    flex-direction: column;  

    min-height: 334px;
    margin: 10px 0;
}

.container4 .teacher {
    background-color: #ebfcfc;
    
}
.container4 .mission {
    background-color: #fff2fa;
}

.container4 span {
    border-radius: 50%;
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;

}
.container4 svg {
    height: 68px;
    width: 68px;
    fill: #ffffff;
    
    padding: 14px;
    margin-right: 0px;
    margin-bottom: 0px;
    
}

.container4 .teacher svg {
    background-color: #38c4c1;
}
.container4 .mission svg {
    background-color: #fe7ec9;
}

.container4 .image2_01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container4 .image2 h4 {
    margin-top: 33px;
    padding: 0;
    color: #808080;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}
.container4 .image2 p {
    position: relative;
    font-size: 0.87rem;
    font-style: italic;
    margin: 20px 1px 0;
    font-weight: 400;
    line-height: 1.7;
}

.container4 .image2 a {
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px auto 27px;
    color: #38c4c1 ;
    text-decoration: none;
}

.container4 .image .image2_02 {
    display: flex;
    flex-direction: column;
} 
.container4 .image2_02 > div {
    display: flex;
    flex-direction: column;
    min-height: 334px;
}
.container4 .image2_02 img {
    display: block;
    margin-top: 20px;
    height: 332px;
    object-fit:cover;
}

.container5 {
    min-height: 732px;
    width: 440px;
    padding: 0 50px;
    background-color: #feca02;
}
.container5 .title {
    width: 340px;
    min-height: 133px;
    height: auto;
    margin: 65px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container5 .title h4 {
    margin: 9px 0 0;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.container5 .title h2 {
    margin: 12px 0 9px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    text-align: center;
    color: #ffffff;
}

.container5 .card {
    margin: 44px auto 70px;
    display: flex;
    flex-direction: column;

}
.container5 .card>div {
    background-color: #ffffff;
    min-height: 370px;
    width: 340px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container5 .card span {
    height: 68px;
    width: 68px;
    position: relative;
    margin: 30px auto 0;
    display: block;
    line-height: 0;
    border-width: 0px;
    border-radius: 50%;
}

.container5 .card h5 {
    text-transform: uppercase;
    font-weight: 500;
    width: 203px;
    line-height: 1.2;
    font-size: 1.25rem;
    margin: 31px auto 0;
    text-align: center;
}
.container5 .card>div:nth-child(1) h5 {
    color: #fe7ec9;
}
.container5 .card>div:nth-child(2) h5 {
    color: #488df4 ;
}
.container5 .card>div:nth-child(3) h5 {
color: #38c4c1;
}
.container5 .card>div:nth-child(4) h5 {
    color: #feca02;
}

.container5 .card p {
    font-style: italic;
    font-size: 1.125rem;
    width: 100%;
    margin: 31px 0 30px;
    padding: 0 4px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}

.container6 {
    min-height: 464px;
    width: 440px;
    padding: 0 50px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.container6 .title {
    margin-top: 47px;
    height: auto;
    padding: 0 12px;
    display: flex;
    text-align: left;
}
.container6 h1 {
    font-weight: 700;
    line-height: 1.1;
    font-size: 3.75rem;
    margin: 10px 0
}
.container6 .content {
    margin: 27px auto 50px 0;
    display: flex;
    flex-direction: column;
}
.container6 .content>div {
    /* border: 15px solid transparent; */
    display: flex;
    text-align: left;
}
.container6 .content>div:nth-child(1) {
    padding-left: 5px;
    margin: 15px -17px;

}
.container6 .content>div:nth-child(2) {
    padding-left: 12px;
    margin-top: 45px

}

.container6 p {
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.125rem;
    
}

.container7 {
    min-height: 800px;
    width: 440px;
    padding: 65px 50px;
    background-color: #fe7ec9;
    display: flex;
    justify-content: center;
}
.container7 > div {
    margin: 5px 0;
}
.container7 > div:nth-child(1) {
    background-image: url(./image/container7_1.jpeg);
    min-height: 256px;
   background-size: cover;
   background-position: 0 50%;
    
}
.container7 > div:nth-child(2) {
    padding: 0 9px;
    background-color: #ffffff; 
    text-align: start; 
    
}
.container7 > div:nth-child(2) h3 {
    margin: 40px 0 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
    
}
.container7 > div:nth-child(2) p {
    margin: 20px 0 40px;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.125rem;
}

.container7 > div:nth-child(3) {
    background-image: url(./image/container7_2.jpeg);
    min-height: 256px;
   background-size: cover;
   background-position: 0 50%;
    
}

.container8 {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 973px;
    width: 340px;
    position: relative;
}
.container8 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    min-height: 145px;
    height: auto;
    position: absolute;
    top: 36px;
    left: 0;
}
.container8 .title h4 {
    margin: 15px 0 0;
    color: #808080;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}
.container8 .title h2 {
    margin: 13px 0 15px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
}
.container8 .content {
    margin: 271px auto 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.container8 .content1, .container8 .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 1; */
    
}
.container8 .content > div:nth-child(2) {
    background-image: url(./image/container8.jpeg);
    background-size: cover;
    height: 550px;
    max-width: 364px;
    background-position: 50% 50%;
    margin-bottom: 60px;

}
.container8 h5 {
    margin: 23px 0 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.25rem;
}
.container8 .content1 {
    text-align: right;
}
.container8 .content1 > div, .container8 .content2>div {
    margin: 50px 0;
}
.container8 .content2 {
    text-align: left;
}
.container8 .content1 h5, .container8 .content2 h5 {
   margin: 0;;
}
.container8 p {
    font-style: italic;
    margin: 20px 0 0;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.125rem;
}

.container9 {
    padding: 0 50px;
    width: 440px;
    background-color: #38c4c1;
    display: flex;
    flex-direction: column;
}
.container9 .title {
    width: 340px;
    min-height: 145px;
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container9 .title h4 {
    margin: 15px 0 0;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #808080;
    text-align: center;
    color: #ffffff;
}
.container9 .title h2 {
    margin: 13px 0 15px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    text-align: center;
    color: #ffffff;
}
.container9 .content {
    margin: 23px auto 70px 0;
    display: flex;
    flex-direction: column;
}
.container9 .content > div:nth-child(1) {
    background-image: url(./image/container9.jpeg);
    min-height: 300px;
    background-position: 55% 50%;
    background-size: cover;
}
.container9 .content > div:nth-child(2) {
    background-color: #ffffff;
    padding: 0 18px;
    padding-bottom: 60px;
    text-align: left;
}
.container9 .content > div:nth-child(2) h2 {
    margin: 179px 0 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
}
.container9 .content > div:nth-child(2) p {
    margin: 20px 0 30px;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.125rem;
}
.container9 .content > div:nth-child(2) a {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fe7ec9;
    text-decoration: none;
}

.container10 {
    min-height: 229px;
    margin: 63px 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container10 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 15px solid transparent;
}
.container10 > div span {
    height: 32px;
    width: 32px;
    background-image: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0;
    
}
.container10 > div:nth-child(1) span {
    background-color: #fe7ec9;
    
}
.container10 > div:nth-child(2) span {
    background-color: #feca02;
   
}
.container10 > div:nth-child(3) span {
    background-color: #38C4AB;
 
}
.container10 > div span svg {
    width: 8px;
    height: 8px;
    fill: #ffffff;
}
.container10 > div h6 {
    margin: 32px 30px 25px;
    line-height: 1.2;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}

.container11 {
    padding: 0 50px;
    width: 440px;
    min-height: 309px;
    background-color: #fe7ec9;
    display: flex;
    flex-direction: column;
}
.container11 .content {
    min-height: 339px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container11 .content > div {
    flex: 0 0 33.33%;
    border: 15px solid transparent;
}
.container11 .content h6 {
    margin: 10px 0 0 0;
    line-height: 1.2;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
}
.container11 .content p {
    margin: 10px 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.875rem;
    color: #ffffff;
}
.container11 .icon {
    display: flex;
    justify-content: space-between; 
    white-space: nowrap;
    height: 18px;
    width: 104px;
    margin: 40px auto 50px;
}
.container11 a {
    height: 18px;
    width: 18px;
    color: #ffffff;
    margin-left: 10px;
}

.footer {
    width: 440px;
    padding: 16px;
    color: #ffffff;
    background-color: #333333;
}

.footer-footer1 {
    display: flex;
    justify-content: center;
    padding: 36px 16px;
    font-size: 0.8rem;
}

.footer-footer1 a {
    color: #feb8e1;
    text-align: center;
}
.footer-footer1>p:nth-child(2) {
    margin: 0 4px;
}

