* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #FFAB91;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 15%);

}

.header ul {
    width: 100%;
    height: 60px;

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header li {
    text-transform: uppercase;
    font-weight: 500;
}

.header li:nth-child(1) {
    font-weight: 800;
    border-bottom: 2px solid #333;
}

.header a {
    text-decoration: none;
    color: #333;
}

.body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.body > div {
    flex-basis: 30%;
    margin: 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 15%);
    overflow: hidden;
    position: relative;

}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333;
    padding: 20px;
    height: 100%;
    background-color: rgb(250, 245, 237);
    
}
.content h3, h2, p {
    margin: 20px;
    line-height: 1.5;
    color: #333
}


.hobby {
    display: flex;
    flex-direction: column;
    color: #333;
    height: 100%;
    padding: 20px;
    background-color: rgb(250, 245, 237);
}

.hobby-active {
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.hobby-active p {
    width: 120px;
}

.hobby .avatar {
    
    border-radius: 50%;
    overflow: hidden;
    margin-top: 25px;
}

.hobby p {
    margin: 10px 30px;
}
.hobby span {
    margin-right: 6px;
}

.footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #FFAB91;
    color: #333;
}
.footer a {
    text-decoration: none;
    color: #333;
}

