* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    display: inline-block;
    padding: 30px 100px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    z-index: 2;
    
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;

    transition: all 2s;
    z-index: -1;
}

.btn:hover::before {
    left: -100%;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;

    transition: all 2s;
    z-index: -1;
}
.btn:hover::after {
    left: 100%;