* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.card {
    position: relative;
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 15%);
    overflow: hidden;
}
.image {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.image img {
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.time {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff5722;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 25%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 420px;
    
}

.time p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.time p.month {
    font-size: 12px;
}

.content {
    padding: 20px;
    line-height: 2;
    background-color: #fff;
    position: absolute;
    bottom: 60px;
    transform: translateY(120px);
    transition: all .5s;
}

.sub-content {
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: #ff5722;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 2;
}

.text h3 {
    color:#ff5722;
    font-weight: 400;
    margin-bottom: 20px;
}

.time-comment {
    display: flex;
    justify-content:flex-start;
    padding: 20px;
    background-color: #fff;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.time-comment .time-ago {
    margin-right: 20px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 15%);
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover img {
    transform: scale(1.2);
    filter: brightness(0.6);
}

.card:hover .time {
    box-shadow: none;
}