* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, sans-serif;
}

body>div {
    display: flexf;
    flex-direction: column;
    position: relative;
    font-size: 1rem;
    line-height: 1.6;
    color: #42434b;
}

.header {
    background: #f2f2f2;
    height: 70px;
    padding: 0 10px;

    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .icon-mode {
    margin-right: 80px;
}

.header a {
    cursor: pointer;
    text-decoration: none;
}

.header img {
    padding: 4px;
}

.icon-mode a:nth-child(1) img {
    background-color: #c9e4f9;
}

.header img:hover {
    background-color: #e2f0fc;
}

.education {
    margin: 0 150px;
    min-height: 88px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.education h3 {
    text-transform: uppercase;
    margin-top: 26px;
    
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
}
.education a {
    background-color: transparent;
    text-decoration: none;
    color: #fe7ec9;
}
.menu>ul {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 36px;
    
}

.menu>ul>li {
    margin-right: 25px;
    display: inline-block;
    padding: 0;
    height: 100%;
}
.menu .page {
    margin: 0;
}

.menu>ul>li>a {
    padding: 10px 20px;
    color: #212121;
}

.container1 {
    margin: 60px 150px;
    min-height: 670px;
    width: 1140px;
    display: flex;
    flex: 1 1 100%;
}
.container1 .content {
    padding-left: 49px;
    padding-right: 49px;

    flex: 0 0 50%;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 .content h2 {
    font-size: 4.5rem;
    margin: 65px 30px 0;
    font-weight: 700;
    line-height: 1.2;
    color: #488df4;
    text-align: center;
}

.container1 .content h3 {
    margin: 20px 30px 65px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
    text-align: center;
}

.container1 .image {
    min-height: 670px;
    flex: 0 0 50%;
    max-width: 50%;
    background-image: url(./image/firstdayofschoolbacktoschoolphotoideasphotographyhowtotakegreatpictures13.jpeg);
    background-size: cover;
    background-position: 0 50%;
}

.container2 {
    display: flex;
    
}
.container2 div {
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 340px;
    text-align: center;
}
.container2 div:nth-child(1) {
    background-color: #38c4c1;
}

.container2 div:nth-child(2) {
    background-color: #feca02;
}

.container2 div:nth-child(3) {
    background-color: #fe7ec9;
}
.container2 div:nth-child(4) {
    background-color: #488df4;
}

.container2 span svg {
    height: 86px;
    width: 86px;
    margin: 85px auto 0;
    fill: #ffffff;

}

.container2 h2 {
    margin: 20px 20px 35px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.25rem;
    color: #ffffff;
}

.container3 {
    min-height: 492px;
    padding: 135px 255px 49px 255px;
    background-color: #f2f2f2;
}

.container3 h1 {
    margin: 0 60px;
    font-weight: 700;
    line-height: 1.1;
    font-size: 3.75rem;
    color: #488df4;
    text-align: center;

}

.container3 div {
    width: 67px;
    height: 3px;
    transform-origin: right center;
    margin: 30px auto 0;
    border: 3px solid #000000;
}

.container3 p {
    font-size: 1.25rem;
    margin: 35px 60px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
}

.container4 {
    margin: 0 150px;
    min-height: 1025px
}
.container4 .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 855px;
    min-height: 185px;
    height: auto;
    margin: 26px auto 0;
}
.container4 .content h4 {
    margin: 59px 20px 0;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #808080;
    text-align: center;
}
.container4 h2 {
    font-size: 3rem;
    margin: 13px 0 20px;
    font-weight: 700;
    line-height: 1.2;
}

.container4 .image {
    margin: 35px 0 80px 0;
    display: flex;
    flex: 1 1 100%;
    min-height: 100%;
    width: 1140px;
}
.container4 .image .image1 {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 719px;
    background-image: url(./image/anh1.jpeg);
    background-position: 0% 50%;
    border: 10px solid #ffffff;
    margin: -10px;
    margin-right: 0px;
    
}

.container4 .image .image2 {
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 10px solid transparent; */
    
}

.container4 .image .image2_01 {
    display: flex;

} 

.container4 .image2_01 > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 50%;
    max-width: 270px;
    
    padding: 0 20px;
    margin: 0 10px;

    min-height: 347px;
}

.container4 .teacher {
    background-color: #ebfcfc;
    
}
.container4 .mission {
    background-color: #fff2fa;
}

.container4 span {
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    overflow: hidden;

}
.container4 svg {
    height: 68px;
    width: 68px;
    fill: #ffffff;
    
    padding: 14px;
    margin-right: 0px;
    margin-bottom: 0px;
    
}

.container4 .teacher svg {
    background-color: #38c4c1;
}
.container4 .mission svg {
    background-color: #fe7ec9;
}

.container4 .image2 h4 {
    margin: 33px 0 0 auto;
    padding: 0;
    color: #808080;
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}
.container4 .image2 p {
    position: relative;
    font-size: 0.875rem;
    font-style: italic;
    margin: 20px 0 0 auto;
    font-weight: 400;
    line-height: 1.7;
}

.container4 .image2 a {
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 8px auto;
    color: #38c4c1 ;
    text-decoration: none;
}

.container4 .image .image2_02 {
    display: flex;
    flex: 1 1 100%;
} 
.container4 .image2_02 > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 50%;
    max-width: 270px;
    margin: 0 10px;
    min-height: 352px;
}
.container4 .image2_02 img {
    display: block;
    margin-top: 20px;
    height: 332px;
    object-fit:cover;
}