* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image {
    height: 260px;
}

img {
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(149, 217, 248);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    align-content: center;
}

.container-item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

a {
    text-decoration: none;
    color: #000;
}

.card {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%) ;
    border-radius:7px;
    overflow: hidden;
    margin: 30px;
    line-height: 1.5;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
}

.card>div {
    margin: auto;
}

.price-rating, .quatity-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quatity-location {
    margin-bottom: 10px;
}

h3 {
    margin: 15px;
}

.info {
    margin: 10px;
}

p {
    font-size: 12px;
    font-weight: 300;
    margin: 4px;
}

.price {
    font-size: 20px;
    color: rgb(197, 11, 11);
    font-weight: 400;
}
.rating {
    font-size: 16px;
    font-weight: 400;
}
i {
    color: #e59819;
}

/*  thầy chữa bài: 
1. Nên set kích thước cho thẻ container để xem rên màn hình to k bị xấu
2. K nên sd màu đen thuần túy, nêm sd màu gần đen thôi, vd màu #333
3. Trang chi tiết sản phẩm nên set padding cho thẻ to chứa toàn bộ nội dung, k nên mất công set từng thẻ một */