* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Roboto, sans-serif;
}

:root {
    font-size: 16px;
}
.card {
    margin: auto;
    width: 360px;
    line-height: 1.5;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    
}
.year {
    color: #fff;
    background-color: #ef5321;
    padding: 3px;
    border-top-left-radius: 4px;
}
.year>p {
    text-align: center;
    font-weight: 300;
}
.time {
    background-color: #fe6d3f;
    text-align: center;
    padding: 28px;
    color: #fff;
    border-bottom-left-radius: 4px;
    min-height: 130px;
    margin-bottom: 16px;
    line-height: 1.1;
}
h1 {
    font-weight: 300;
    font-size: 42px;
}
h2 {
    font-weight: 300;
    font-size: 16px;
}
.info {
    padding: 0px 24px 0 24px;
}
a {
    text-decoration: none;
    color: #464646;
    font-size: 1.3rem;
}
.teacher>p {
    padding: 0 0 10px 24px;
    font-size: 0.9rem;
    color: #464646;
    font-weight: 300
}
.day, .timelearn, .location>p {
    padding: 0 24px;
    line-height: 1.8;
}
.day>p, .timelearn>p, .location>p {
    display: inline;
    font-size: 0.9rem;
    color: #464646;
    font-weight: 300;
    padding-left: 4px;
}
.location {
    border-bottom: 1px solid #c4c4c4e3;
    width: 86%;
    margin: auto;
    padding-bottom: 8px;
}
span {
    color: #464646;
    font-size: 0.9rem;
}
button {
    color: #3c78e8;
    border: none;
    background-color: #fff;
    padding: 7px 0 10px 24px;
    font-size: 16px;
    cursor: pointer;
    border-bottom-left-radius: 4px;
}
