* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

body>div {
    display: flexf;
    flex-direction: column;
    position: relative;
}

.header {
    background: #f2f2f2;
    height: 70px;
    padding: 0 10px;

    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .icon-mode {
    margin-right: 80px;
}

.header a {
    cursor: pointer;
    text-decoration: none;
}

.header img {
    padding: 4px;
}

.icon-mode a:nth-child(1) img {
    background-color: #c9e4f9;
}
.header img:hover {
    background-color: #e2f0fc;
}

.container {
    background-image: url(./image/background.jpg);
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-text {
    padding-left: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-text > a {
    position: absolute;
    top: 20px;
}

.container-text img {
    max-width: 64px;
    max-height: 64px;
}

.text {
    margin: 30px;
}
.text h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 36px;
    font-size: 1.5rem;
    font-weight: 400;
}
.text h1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: #312933;
}
.text p {
    margin: 24px auto 0 0;
    /* font-family: 'Open Sans', sans-serif; */
}

.text>p>a {
    text-decoration: underline;
    color: #391440;

}

.container-image {
    min-height: 607px;
    width: 100%;
    flex-grow: 1;
    
    background-image: url(./image/z-min.jpg);
    background-size: cover;
    flex-basis: 65%;

}

.container-image a {
    z-index: 1;
    /* font-family: 'Open Sans', sans-serif; */
    color: #999999;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 30px;
    right: 130px;

}

.content-choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 105px;

}
.content-choose1, .content-choose2, .content-choose3, .content-choose4, .content-choose5, .content-choose6 {
    flex-basis: 33%;
    padding: 30px;
}

.content>h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 60px;
    text-align: center;

}

.content>p {
    margin-top: 17px;
    text-align: center;
}

.content-choose>div>h1 {
    font-size: 15.625rem;
    font-weight: 900;
    margin: 0 auto;
    color: #f9e79b;
    text-align: center;
}
.content-choose>div>h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: -228px auto 0;
    text-align: center;
}
.content-choose>div>p {
    margin: 40px auto 70px 0;
    text-align: center;
    line-height: 1.6;
}


.container2 {
    background-image: url(./image/background-container2.jpg);
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-text2 {
    margin-left: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    

}

.container-text2, .container-image2 {
    flex-basis: 50%;
}

.container2 .text2 h1 {
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 3rem;
    margin: 80px 0 0;
    color: #f1c50e;
}

.container-text2 h5 {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.container-text2 p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-style: normal;
    margin: 36px auto 0 0;
}

.text2 .p2 {
    font-size: 1rem;
    margin: 11px auto 36px 0; 
}

.text2 .p2>a {
    font-weight: bold;
    color: #391440; 
    text-decoration: none;
}

.text2>a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 52px 10px 51px;
    color: #111111;
    background-color: #f1c50e;
}

.container-image2 img {
    max-width: 100%;
    height: 100%;
}

.container3 {
    background-image: url(./image/pexels-photo-3906049.jpeg);
    background-position:0% 50.8%;
    min-height: 564px;
    background-size: 115%;
    overflow: visible;
}


.container3-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 45%;
    padding-left: 117px;
    color: #ffffff;
}
.container3-content h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 120px;
}

.container3-content p {
    margin-top: 20px;
}

.container3-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-top: 20px;
}

.container3-content .p2 {
    line-height: 2;
}

.container4 {
    min-height: 431px;
    margin: 60px 117px;

    display: flex;
    justify-content: space-between;
}

.container4-content {
    flex-basis: 70%;
    padding: 30px;
}

.container4-content h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0 0;
}

.container4-content .p1 {
    line-height: 1.8;
    font-size: 1rem;
    margin: 20px 0 0;
}

.container4-content .p2 {
    letter-spacing: 1px;
    margin: 22px auto 30px 0; 
}

.container4-content .p2 a {
    font-weight: bold;
    color: #391440; 
    text-decoration: none;
}

.container4-content>a {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 10px 52px 10px 51px;
    text-decoration: none;
    
    color: #111111;
    background-color: #f1c50e;
}

.container4-image {
    flex-basis: 30%;
    background-image: url(./image/rfgd-min.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.container5 {
    margin: 0 117px;
}

.container5 h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 55px auto 0;
}

.container5 p {
    width: 460px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 1.6;
}

.container5-image {
    margin: 26px auto 55px;
    display: flex;
    justify-content: space-between;
}

.container5-image div {
    padding: 30px;
    flex-basis: 20%;

    display: flex;
    justify-content: center;
}

.container5-image div img {
    margin: 0 26px;
    width: 116px;
    height: 83px;

    object-fit: contain;
    background-size: contain;
}

.container6 {
    padding: 0 117px;
    min-height: 747px;
    background-color: #000000;
    color: #ffffff;

    display: flex;
    flex-direction: column;
}

.container6 h1 {
    font-size: 12.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 18px;
    text-align: center;
    color: #404040;
}

.container6>h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    margin: -143px auto 0;
    text-align: center;
    color: #f1c50e;
}

.container6-content{
    margin: 70px auto 18px 0;
    display: flex;

}

.container6-content1 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    padding: 30px;

}

.container6-content1 h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto 0 0;
}

.container6-content1 p {
    margin-top: 19px;
    line-height: 1.6;
}

.container6-content1 img {
    height: 37px;
    width: 48px;
    margin: 30px auto 0 0;
    background-color: #f1c50e;
    border-radius: 10px;
}

.container6-content1 h6 {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
}

.container6-content1 span {
    height: 48px;
    width: 48px;
    margin-top: 30px;
    color: #f1c50e;
}

.container6-content2 {
    flex-basis: 66.66666666%;
    max-width: 66.66666666%;
    padding: 30px;
}

.container6-content2 div {
    margin-bottom: 19px;
    padding-left: 19px;
}



.container6-content2 input {
    display: block;
    border-color: #ffffff;
    width: 100%;
    padding: 15px 12px;
    background-color: transparent;
    border-style: solid;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


