body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
    height: 100vh;
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 100px;
}
.header .menu span {
    margin-right: 30px;
    font-weight: bold;
}
.header .menu span:nth-last-child() {
    margin-right: 0;
}
.header button {
    background-color: yellow;
    border-color: transparent;
    
    border-radius: 100px;
    padding: 10px 30px;

    font-size: 16px;
    font-weight: bold;
}
.content {
    display: flex;
    justify-content: space-between;

    margin: 0 50px 0 150px;
}
.content .text-content {
    flex-basis: 25%;
    align-self: center;
}
.content h1 {
    font-size: 36px;
    line-height: 1;
}
.content .text-content p:first-child {
    text-transform: uppercase;
}
.content .text-content .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .img-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.content .img-content img {
    width: 50%;
    height: auto;
}
.content .btn-content button {
    background-color: orange;
    border-color: transparent;

    border-radius: 100px;
    padding: 10px 30px;
    margin-right: 14px;

    font-size: 14px;
    font-weight: bold;
}
.content .btn-content i {
    font-size: 40px;
}
.content .btn-content span:last-child {
    font-size: 14px;
    font-weight: bold;
}
.content .icon-content {
    display: flex;
    flex-direction: column;

    font-size: 20px;

    position: fixed;
    right: 50px;
}
.content .icon-content span {
    margin-bottom: 20px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    margin: 50px 100px;
}
footer div {
    flex-basis: 20%;
    font-weight: bold;
}
footer img {
    width: 100px;
    height: auto;
}
footer h4 {
    font-size: 18px;
}
footer p {
    font-size: 13px;  
}
