/* header */
header {
    position: relative;
    background: linear-gradient(146.88deg, rgba(255, 81, 47, 0.865885) -6.27%, rgba(221, 36, 118, 0.766559) 74.49%);
    height: fit-content;
}
.header-image {
    position: absolute;
    top: 190px;
    height: 746px;
    right: 0;
    z-index: 1;
}
.header-title {
    padding: 21px 25px 0 36px;
    color: #FFFFFF;
}
.header-key p a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-right: 32px;
    letter-spacing: 0.53151px;
    color: #FFFFFF;
}
.header-key > a {
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.826794px; 
    margin-right: 71px;
    color: #FFFFFF;
}
.header-key p a:hover, .header-key > a:hover {
    color: #ffffff;
}
.header-key > p {
   width: fit-content;
}

.header-account button:first-child {
    background: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.53px;
    margin-right: 36px;
}
.header-account button:last-child {
    width: 130px;
    height: 55px;
    background:#FFFE00;
    box-shadow: 0px 10px 30px rgba(116, 115, 115, 0.234601);
    border-radius: 5px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.47px;
    color: #000000;

}
header h1 {
    margin: 194px auto 10px 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.55px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);

}
header .container > p {
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.77px;
    color: #FFFFFF;
    opacity: 0.82;
    margin-left:4px;
    margin-bottom: 32px;
    width: 970px;
}
.header-btn button {
    width: 205px;
    height: 60px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.53px;
    margin-bottom: 246px;
    color: #050505;

}
.header-btn button:nth-child(1) {
    background: #FFFE00;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
    margin-right: 28px;
}

/* section-two */
#section-two h2 {
    width: 894px;
    margin: 91px auto 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 82px;
    letter-spacing: 0.324812px;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
#section-two p {
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #969696;
    opacity: 0.82;
    margin: 0 auto 106px;
    width: 996px;
}

/* explore-topics & explore-mentors */
#explore-topics, #explore-mentors {
    background-color: #F2F2F2;
}
#explore-topics h2 {
    padding-top: 57px;
}
#explore-topics h2, #explore-mentors h2 {
    margin: 0 30px;
    font-weight: 600;
    font-size: 36px;
    line-height: 82px;
    letter-spacing: 0.324812px;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
#explore-topics > p, #explore-mentors > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.53151px;
    color: #969696;
    opacity: 0.82;
    margin: 0 30px 42px
}
#explore-topics, .cards {
    position: relative;
}

#explore-topics .image p, #explore-mentors .image p {
    transform: translateY(-63px);
    height: 50px;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.252631px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
.btn-next {
    position: absolute;
    top: 122px;
    right: 40px;
    z-index: 1;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    color: #FE985B;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* evaluate */
#evaluate {
    position: relative;
    height: 450px;
}
.evaluate-content {
    height: 450px;
    width: 100%;
    position: absolute;
    top: 0;
}
#evaluate h2 {
    padding-top: 61px;
    padding-bottom: 30px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 82px;
    letter-spacing: 0.324812px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
}
#evaluate p {
    width: 952px;
    font-weight: 500;
    font-size: 26px;
    line-height: 47px;
    letter-spacing: 0.234586px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);
    margin: 0 auto 53px;
    
}
#evaluate .container > span {
    padding-bottom: 54px;
}
#evaluate .container span img {
    width: 29px;
}
#evaluate .next {
    position: absolute;
    right: 31px;
    top: 199px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    color: #FE985B;
    background-color: #ffffff;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#evaluate .back {
    position: absolute;
    top: 199px;
    left: 31px;
    transform: rotate(180deg);
    

    width: 52px;
    height: 52px;
    border-radius: 100px;
    color: #FE985B;
    background-color: #ffffff;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.evaluate-bg1 {
    background-image: url(../image/background.png);
    background-size: cover;
    height: 450px;
    width: 100%;
    position: absolute;
    top: 0;
}
.evaluate-bg2 {
    background: linear-gradient(180deg, #131323 0%, rgba(87, 1, 1, 0.721977) 100%);
    opacity: 0.53;
    height: 450px;
    width: 100%;
    position: absolute;
    top: 0;
}
/* learning */
#learning {
    background: linear-gradient(161.6deg, #FE5030 8.2%, #D72D77 88.92%);;
}
#learning p {
    width: 791px;
    margin: 77px 10px 82px 108px;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.324812px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(94, 94, 94, 0.148862);

}
#learning button {
    width: 250px;
    height: 80px;
    margin: 93px 108px 90px auto;
    background: #FFFE00;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.649624px;
    color: #050505;

}
/* footer */
.footer {
    margin-top: 79px;
    margin-bottom: 76px;
    margin-left: 37px;
    /* padding: 79px auto 76px 37px; */
    /* height: 197px; */
}
.footer > a {
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.826794px; 
    margin-right: 71px;
    color: #000000;
}
.footer p {
    margin-bottom: 0;
}
.footer p a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 79px 32px 76px 37px;
    letter-spacing: 0.53151px;
    color: #000000;
}
.footer > a:hover, .footer p a:hover {
    color: #000000;
}